body {
  background: #f2f2f2;
  text-align-last: center;
  height: 100vh;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  min-width: 900px;
}

#app {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.animate {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.btn-link {
  font-size: 10px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
  background-color: #eeedf1;
  color: #8a8b8e;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
a {
  color: #00A885;
}

a:hover,
a:focus {
  color: #00755d;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.text-primary {
  color: #00A885;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.navbar-brand1 {
  color: #00A885;
  margin-bottom: -12px;
}

.nav-item2 {
  margin-right: 700px;
  list-style: none;
}


.nav-link22 {
  margin-right: 700px;
}

.nav-item1 {
  margin-right: 700px;
  list-style: none;
}


.nav-link11 {
  margin-right: 700px;

}


input[type="checkbox"] {
  width: auto;
}

.btn-primary {
  cursor: pointer;
  background: #00A885;
  width: 30%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s linear;
  margin: 10px;
  border-radius: 15px;
}

.btn-primary:hover {
  background: white;
  color: #00A885;
}

.botoesloginregistrar> div{
  display: inline-block;
}

.tabela,th,td {
  margin-top: 50px;
  border: 1px solid;
  width: 100%;
  margin-bottom : .5em;
  table-layout: fixed;
  text-align: center;
}

.tabela tr:nth-child(even){
  background-color: #f2f2f2;
}

.tabela tr:hover{
  background-color: #ddd;
}

.tabela th{
  background-color: #00A885;
}

.form-control {
  margin: 10px;
}

.d-inline {
  text-decoration: none;
  margin: 20px;
}

button {
  cursor: pointer;
  background: #00A885;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

span.validate-tooltip {
  background: #D91717;
  width: 100%;
  display: block;
  padding: 5px;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: -28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: tooltipanimation 0.3s 1;
  animation: tooltipanimation 0.3s 1;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group label {
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 16px;
  color: #cdcdcd;
  font-weight: normal;
  padding: 2px 5px;
  z-index: 5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group input {
  outline: none;
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 3;
  border: 1px solid #d9d9d9;
  padding: 10px 10px;
  background: #ffffff;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-group .lighting {
  background: #00A885;
  width: 0;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input-group.focused .lighting {
  width: 100%;
}

.input-group.focused label {
  background: #fff;
  font-size: 12px;
  top: -8px;
  left: 5px;
  color: #00A885;
}

.input-group span.validate-tooltip {
  margin-top: 0;
}

.wrapper {
  width: 320px;
  background: #fff;
  margin: 20px auto;
  min-height: 200px;
  border: 1px solid #f3f3f3;
}

.wrapper .inner-warpper {
  padding: 50px 30px 60px;
  box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
}

.wrapper .title {
  margin-top: 0;
}

.wrapper .supporter {
  margin-top: 10px;
  font-size: 14px;
  color: #8E8E8E;
  cursor: pointer;
}

.wrapper .remember-me {
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
}

.wrapper label[for="rememberMe"] {
  cursor: pointer;
}

.wrapper .signup-wrapper {
  padding: 10px;
  font-size: 14px;
  background: #EBEAEA;
}

.wrapper .signup-wrapper a {
  text-decoration: none;
  color: #7F7F7F;
}

.wrapper .signup-wrapper a:hover {
  text-decoration: underline;
}

@-webkit-keyframes tooltipanimation {
  from {
    margin-top: -28px;
  }

  to {
    margin-top: 0;
  }
}

@keyframes tooltipanimation {
  from {
    margin-top: -28px;
  }

  to {
    margin-top: 0;
  }
}

.direction {
  width: 200px;
  position: fixed;
  top: 120px;
  left: 20px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  background: #9365B8;
  padding: 10px;
  color: #fff;
}

@media (max-width: 480px) {
  .direction {
    position: static;
  }
}




/* ESTILO DA TELA DE ADICIONAR TAREFA */

.addtarefa {

}

#title {
  text-align: left;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.descricao {
  display: block;
}

#description {
  width: 300px;
}

.nav-item3 {
  list-style: none;
  margin: auto;
  display: flex;
}

.botaoadicionar {
  margin-left: 10px;
  width: 20%;
  text-decoration: none;
  background: #00A885;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #00A885;
}

.botaoadicionar:hover{
  background: white;
  color: #00A885;
}

.logout>a {
  margin-left: 90px;
  width: 20%;
  text-decoration: none;
  background: #00A885;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #00A885;
  

}

.logout:hover >a{
  background: white;
  color: #00A885;
}

.usuario {
  visibility: collapse;
}